.marquee-container {
  overflow: hidden;
  text-align: center;
}
.marquee-container > h2{
  margin-top: 5%;
}

.marquee-content {
  gap: 10%;
  display: flex;
  animation: marquee-animation 40s linear infinite;
}

.marquee-item {
  width: 20%;
  flex-shrink: 0;
  margin-right: 10%; /* Adjust as needed */
}
.end{
  margin-right: 40%;
}
.slow{
  animation: marquee-animation 35s linear infinite;
}
@keyframes marquee-animation {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-900%);
  }
}
