.table-container {
    padding-top: 5% !important;
    padding: 10px;
  }
  
  .item {
    background-color: #F3F8FF;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease; /* Adding transition for smooth effect */
    border-radius: 10px;
  }
  .itemh {
    background-color: #F3F8FF;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease; /* Adding transition for smooth effect */
    border-radius: 5px;
  }
  
  .item:hover {
    background-color: #e8edf4; /* Change background color on hover */
  }
  
  .header {
    font-weight: bold;
    background-color: #0d0dfe;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .item {
      font-size: 14px;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .item {
      font-size: 16px;
    }
  }
  
  @media screen and (min-width: 1025px) {
    .item {
      font-size: 18px;
    }
  }
  